<% provide(:title, @user.username) %>
<div class="row">
    <section>
      <h1>
        <%= gravatar_for(@user,{:size=>50}) %>
      </h1>
      <table class="table table-hover">
      	<tr>
	      <th>Username</th>
	      <td><%= @user.username %></td>
	    </tr>
	    <tr>
	      <th>First_Name</th>
	      <td><%= @user.first_name %></td>
	    </tr>
	    <tr>
	      <th>Last_Name</th>
	      <td><%= @user.last_name %></td>
	    </tr>

	    <tr>
	      <th>Email</th>
	      <td><%= @user.email %></td>
	    </tr>
	  </table>
    </section>
    <div>
	  	<% @user.projects.each do |project| %>
		    <%= link_to(image_submit_tag(project.avatar.url(:thumb),:class=>"img-circle"), project_path(:id=>project.id)) %>
		<% end %>
	</div>
</div>