<div class="project edit">
	<h2>Update Photo</h2>
    <div class="container-fluid">
        <div class="span6">	       
            <%= image_tag @project.avatar.url %>
        </div>
        <div class="span5">
            <%= form_for(@project) do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <p><%= submit_tag("Update Photo",class: "btn btn-primary") %></p>
                <p><%= link_to(button_tag("cancel",class: "btn btn-primary"), 
                        {:action => 'show',:id=>@project.id}, :class => 'back-link') %>
                </p>
            <% end %>
                             
        </div>
        
    </div>
</div>