<div class="project edit">
	<h2>Update Subject</h2>
    <div class="container-fluid">
        <div class="span6">	       
            <%= image_tag @project.avatar.url %>
        </div>
        <div class="span5">
            <%= form_for(@project) do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
            <% end %>
                    <%= submit_tag("Update Photo",class: "btn btn-primary") %>         
            <%= link_to(button_tag("cancel",class: "btn btn-primary"), {:action => 'show',:id=>@project.id}, :class => 'back-link') %>
        </div>
        
    </div>
</div>