

<div class="project edit">
	<h2>Update Subject</h2>

	<%= form_for(:project, :url => {:action => 'update'},:html => { :multipart => true }) do |f| %>
	<div><%= image_tag @project.avatar.url %></div>
	<%= render(:partial => "form", :locals => {:f => f}) %>
	<div class="form-buttons">
      <%= submit_tag("Update Photo") %>
    </div>
    <% end %>
    <div>
    <%= link_to(button_tag("cancel"), {:action => 'list'}, :class => 'back-link') %>
    </div>
</div>