<% @page_title = "Projects List" %>
<!--
	<%= link_to(button_tag("Back to List"), {:action => 'index'}, :class => 'back-link') %>
-->


<div class="project show">
  <h2>Show Photo</h2>
	<!--
		<%= link_to(button_tag("update"),{:action=>'edit',:id=>@project.id},:class=>'action edit')%>
	-->
	<div>
		<%= link_to button_tag("update",class: "btn btn-primary"), edit_project_path(@project) %>
		<% if current_user.admin? %>
			<%= link_to button_tag("delete",class: "btn btn-primary"), @project, method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
	</div>
	<p></p>
	<div>
		<%= image_tag @project.avatar.url %>
	</div>
	<p></p>
	  <table class="table table-hover">
	    <tr>
	      <th>Name</th>
	      <td><%= @project.name %></td>
	    </tr>
	    <tr>
	      <th>Position</th>
	      <td><%= @project.position %></td>
	    </tr>
	    <tr>
	      <th>Description</th>
	      <td><%= @project.description %></td>
	    </tr>
	  </table>
	
	<h3>Showing <%= @project.comments.count %> <%= 'comment'.pluralize(@project.comments.count) %></h3>
	<table class="table table-hover">
		<% @project.comments.each do |comment| %>
	      	<%= render comment %>
	    <% end %>
	</table>
	    <% if current_user %>
	    	<h3>Post a new comment:</h3>
	      	<%= render 'comments/form' %>
	    <% end %>

</div>